<div class="container-fluid p-3">
  <form action="" class="row" [formGroup]="filterForm">
    <mat-form-field appearance="outline" class="col-12">
      <mat-label> Minimum Price </mat-label>
      <input
        name="minPrice"
        matInput
        formControlName="minPrice"
        type="number"
      />
    </mat-form-field>
    <mat-form-field appearance="outline" class="col-12">
      <mat-label> Maximum Price </mat-label>
      <input
        name="maxPrice"
        matInput
        formControlName="maxPrice"
        type="number"
      />
    </mat-form-field>
  </form>
  <div class="row">
    <div class="col-12">
      <button
        (click)="applyFilter()"
        mat-raised-button
        color="primary"
        class="w-100"
      >
        apply
      </button>
    </div>
  </div>
</div>
